<!DOCTYPE html>
<html ng-app="nannyApp">
<% include partials/head/headRegister%>

<body ng-cloak>
  <% include partials/header/header%>
  <div ng-controller="ctrl-recuperar-password">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-8">
          <div class="card card-3">
            <div class="card-body">
              <h4 class="text-center">Recuperar Contraseña {{name}}</h4>
              <form ng-hide="emailExist">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Ingrese su Email</label>
                  <input type="email" class="form-control" id="emailR" placeholder="Ingrese su email">
                </div>
                <div class="col d-flex justify-content-center">               
                   <div id="registerNanny"></div>
              </div>
                <button class="btn btn-primary btn-block box-shadow submit-id-submit mt-2" ng-click="recuperarPassword()">
                  Reestablecer contraseña <i class="fas fa-user-plus"></i>
                </button>
                <div class="row ">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="text-center" href="/inicio-de-sesion">Intentar Acceder</a>
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="text-center" href="/registro-nanny"> ¿No estás regístrado? </a>
                  </div>
                </div>
              </form>
              <!-- password -->
              <form ng-hide="usersExist">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Ingrese su nueva contraseña <b id="labelB"
                      style="font-size: 12px;"></b></label>
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-eye " id="viewPassword"
                          onclick="viewPassword('view');"></i>
                        <i class="fas fa-eye-slash " id="hidePassword" onclick="viewPassword('hide');"></i></div>
                    </div>
                    <input type="password" class="form-control" name="password" id="password"
                      placeholder="Ingresa tu contraseña" required maxlength="12" onkeyup="countCharsPassword(this)">
                  </div>
                </div>
                <button class="btn btn-primary btn-block box-shadow submit-id-submit" ng-click="sendPasswordNew()">
                  Reestablecer contraseña <i class="fas fa-user-plus"></i>
                </button>
                <div class="row ">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="text-center" href="/inicio-de-sesion">Intentar Acceder</a>
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="text-center" href="/registro-nanny"> ¿No estás regístrado? </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5" style="margin-top: 15rem !important">
      <% include partials/footer/footer%>
    </div>
    <% include partials/script/script %>
</body>

</html>