<!DOCTYPE html>
<html>
<% include partials/head/headSolicitud%>

<body id="landing-page">
  <main>
    <% include partials/header/header%>
    <section class="section section-relative " id="page_block_below_fold" data-at="section">
      <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
      <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
      <div class="section-block containerForm">
        <div class="section-inner section-fit section-relative">
          <div class="widget item-absolute  " id="element-131">
            <div class="contents cropped item-block" data-at="image-cropp">
            </div>
          </div>
          <div class="widget item-absolute containerForm " id="element-2">
            <div class="contents shape  box figure " data-at="shape"></div>
          </div>
          <div class="widget item-absolute  " id="element-3">
            <form novalidate class="form email-form contents" method="post" data-id="element-3" data-at="form"
              action-xhr="https://d.fastcdn.co/submissions">
              <label class="form-label-title form-label-outside form-label"
                for="field-51155825bf783f615c67b720e6ce7a5d-0" data-at="form-text-title">Nombre</label>
              <input id="field-51155825bf783f615c67b720e6ce7a5d-0" class="form-input form-input-text required  "
                data-at="form-text" type="text" name="Nombre" value="" placeholder="" data-label-inside="Nombre"
                required />

              <label class="form-label-title form-label-outside form-label"
                for="field-51155825bf783f615c67b720e6ce7a5d-1" data-at="form-text-title">Correo Electrócnico</label>
              <input id="field-51155825bf783f615c67b720e6ce7a5d-1" class="form-input form-input-text required  "
                data-at="form-text" type="text" name="Correo Electrócnico" value="" placeholder=""
                data-label-inside="Correo Electrócnico" required />

              <label class="form-label-title form-label-outside form-label"
                for="field-51155825bf783f615c67b720e6ce7a5d-2" data-at="form-text-title">Teléfono</label>
              <input id="field-51155825bf783f615c67b720e6ce7a5d-2" class="form-input form-input-text required  "
                data-at="form-text" type="text" name="Teléfono" value="" placeholder="" data-label-inside="Teléfono"
                required />

              <div>
                <label for="field-51155825bf783f615c67b720e6ce7a5d-3"
                  class="form-label-title form-label form-label-checkbox" data-at="form-checkbox-title">¿Qué servicio
                  solicitas?</label>
                <div class="form-block-checkbox">
                  <input id="hidden-field-51155825bf783f615c67b720e6ce7a5d-3-0" class="hidden-checkbox" type="hidden"
                    name="¿Qué servicio solicitas?::INSTAPAGE_BOX::Niñera exprés (mínimo 3 horas para reserva)"
                    value="no" />
                  <input id="field-51155825bf783f615c67b720e6ce7a5d-3-0" class="form-multiple-input required"
                    data-at="form-checkbox" type="checkbox" name="¿Qué servicio solicitas?"
                    value="Niñera exprés (mínimo 3 horas para reserva)" required />
                  <label class="form-multiple-label form-checkbox-label form-label"
                    for="field-51155825bf783f615c67b720e6ce7a5d-3-0" data-at="form-checkbox-label">Niñera exprés (mínimo
                    3 horas para reserva)</label>
                </div>
                <div class="form-block-checkbox">
                  <input id="hidden-field-51155825bf783f615c67b720e6ce7a5d-3-1" class="hidden-checkbox" type="hidden"
                    name="¿Qué servicio solicitas?::INSTAPAGE_BOX::Reservar una niñera para más tarde" value="no" />
                  <input id="field-51155825bf783f615c67b720e6ce7a5d-3-1" class="form-multiple-input required"
                    data-at="form-checkbox" type="checkbox" name="¿Qué servicio solicitas?"
                    value="Reservar una niñera para más tarde" required />
                  <label class="form-multiple-label form-checkbox-label form-label"
                    for="field-51155825bf783f615c67b720e6ce7a5d-3-1" data-at="form-checkbox-label">Reservar una niñera
                    para más tarde</label>
                </div>
              </div>

              <div>
                <label for="field-51155825bf783f615c67b720e6ce7a5d-4"
                  class="form-label-title form-label form-label-checkbox" data-at="form-checkbox-title">¿De cuántos
                  niños(as) cuidaremos? </label>
                <div class="form-block-checkbox">
                  <input id="hidden-field-51155825bf783f615c67b720e6ce7a5d-4-0" class="hidden-checkbox" type="hidden"
                    name="¿De cuántos niños(as) cuidaremos? ::INSTAPAGE_BOX::Un niño(a)" value="no" />
                  <input id="field-51155825bf783f615c67b720e6ce7a5d-4-0" class="form-multiple-input required"
                    data-at="form-checkbox" type="checkbox" name="¿De cuántos niños(as) cuidaremos? " value="Un niño(a)"
                    required />
                  <label class="form-multiple-label form-checkbox-label form-label"
                    for="field-51155825bf783f615c67b720e6ce7a5d-4-0" data-at="form-checkbox-label">Un niño(a)</label>
                </div>
                <div class="form-block-checkbox">
                  <input id="hidden-field-51155825bf783f615c67b720e6ce7a5d-4-1" class="hidden-checkbox" type="hidden"
                    name="¿De cuántos niños(as) cuidaremos? ::INSTAPAGE_BOX::Dos niños(as)" value="no" />
                  <input id="field-51155825bf783f615c67b720e6ce7a5d-4-1" class="form-multiple-input required"
                    data-at="form-checkbox" type="checkbox" name="¿De cuántos niños(as) cuidaremos? "
                    value="Dos niños(as)" required />
                  <label class="form-multiple-label form-checkbox-label form-label"
                    for="field-51155825bf783f615c67b720e6ce7a5d-4-1" data-at="form-checkbox-label">Dos niños(as)</label>
                </div>
                <div class="form-block-checkbox">
                  <input id="hidden-field-51155825bf783f615c67b720e6ce7a5d-4-2" class="hidden-checkbox" type="hidden"
                    name="¿De cuántos niños(as) cuidaremos? ::INSTAPAGE_BOX::Más de dos niños(as)" value="no" />
                  <input id="field-51155825bf783f615c67b720e6ce7a5d-4-2" class="form-multiple-input required"
                    data-at="form-checkbox" type="checkbox" name="¿De cuántos niños(as) cuidaremos? "
                    value="Más de dos niños(as)" required />
                  <label class="form-multiple-label form-checkbox-label form-label"
                    for="field-51155825bf783f615c67b720e6ce7a5d-4-2" data-at="form-checkbox-label">Más de dos
                    niños(as)</label>
                </div>
              </div>

              <label class="form-label-title form-label-outside form-label"
                for="field-51155825bf783f615c67b720e6ce7a5d-5" data-at="form-text-title">Fecha para el servicio</label>
              <input id="field-51155825bf783f615c67b720e6ce7a5d-5" class="form-input form-input-text required  "
                data-at="form-text" type="text" name="Fecha para el servicio" value="" placeholder=""
                data-label-inside="Fecha para el servicio" required />

              <label class="form-label-title form-label-outside form-label"
                for="field-51155825bf783f615c67b720e6ce7a5d-6" data-at="form-text-title">Hora de inicio</label>
              <input id="field-51155825bf783f615c67b720e6ce7a5d-6" class="form-input form-input-text required  "
                data-at="form-text" type="text" name="Hora de inicio" value="" placeholder=""
                data-label-inside="Hora de inicio" required />

              <label class="form-label-title form-label-outside form-label"
                for="field-51155825bf783f615c67b720e6ce7a5d-7" data-at="form-text-title">Hora de fin</label>
              <input id="field-51155825bf783f615c67b720e6ce7a5d-7" class="form-input form-input-text required  "
                data-at="form-text" type="text" name="Hora de fin" value="" placeholder=""
                data-label-inside="Hora de fin" required />

              <input type="hidden" name="lpsSubmissionConfig" data-at="form-hidden-input" />

              <input type="hidden" name="thank-you-message" data-at="form-hidden-input" />


              <div class="item-absolute form-btn-geometry">
                <button class="btn form-btn item-block  " data-at="form-button">
                  Enviar
                </button>
              </div>

            </form>

            <div id="form-validation-error-box-element-3" class="form-messagebox" data-at="form-validation-box"
              style="display:none;">
              <div class="form-messagebox-header">Please Fix These Errors</div>
              <ul class="form-messagebox-contents" data-at="form-validation-box-message">

              </ul>
            </div>
          </div>

          <div class="widget item-absolute headline  " id="element-248" data-at="headline">
            <div class="contents">
              <h1>
                <p class="x_f7dfe5ee"><span class="x_1de1c13b">Solicita tu Nanny ahora</span></p>
              </h1>
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-249" data-at="paragraph">
            <div class="contents">
              <p class="x_3579aa00"><span class="x_7b2817bf">Rellena este formulario para solicitar nuestros servicios.
                  Te notificaremos por correo la disponibilidad de una de nuestras niñeras lo antes
                  posible.&nbsp;</span></p>
              <p class="x_3579aa00"><span class="x_7b2817bf"><br></span></p>
              <p class="x_3579aa00"><span class="x_7b2817bf">Recuerda responder todas las preguntas obligatorias antes
                  de enviar el formulario.&nbsp; Al hacerlo aceptarás nuestros términos y condiciones de uso y
                  contratación de niñeras.&nbsp;</span></p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section section-relative " id="page-block-s398vkf487o" data-at="section">

      <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
      <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
      <div class="section-block">
        <div class="section-inner section-fit section-relative">
          <div class="widget item-absolute paragraph  " id="element-231" data-at="paragraph">
            <div class="contents">
              <p class="x_4886f134"><span class="x_bb0383e7"><a href="mailto:info@nanny365.app" id="link-c345my3p62e"
                    class="url-link">info@nanny365.app </a></span></p>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-232">
            <div class="contents cropped item-block" data-at="image-cropp">
              <img class="item-content-box item-block img-lazy" data-at="image" alt="" src="images/message.png">
            </div>
          </div>

          <div class="widget item-absolute  " id="element-233">
            <div class="contents cropped item-block" data-at="image-cropp">
              <img class="item-content-box item-block img-lazy" data-at="image" alt="" src="/images/hard.png">
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-234" data-at="paragraph">
            <div class="contents">
              <p class="x_9317fdfd"><span class="x_7b2817bf"><b>Síguenos en</b></span></p>
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-235" data-at="paragraph">
            <div class="contents">
              <p class="x_9317fdfd"><span class="x_7b2817bf"><b>Contáctanos en</b></span></p>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-236">
            <div class="contents cropped item-block" data-at="image-cropp">
              <a href="https://www.instagram.com/nanny365app/" class="url-link item-content-box item-block"
                id="link-w7okrqjmyg" data-at="image-link" target="_blank">
                <img class="item-content-box item-block img-lazy" data-at="image" alt="instagram logo"
                  src="images/instagram.svg">
              </a>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-237">
            <div class="contents cropped item-block" data-at="image-cropp">
              <a href="https://twitter.com/Nanny365App" class="url-link item-content-box item-block"
                id="link-hmsghmk7lf" data-at="image-link" target="_blank">
                <img class="item-content-box item-block img-lazy" data-at="image" alt="twitter logo"
                  src="images/twitter.svg">
              </a>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-238">
            <div class="contents cropped item-block" data-at="image-cropp">
              <a href="https://www.facebook.com/Nanny365-287999865142709/" class="url-link item-content-box item-block"
                id="link-4zggw8by4wc" data-at="image-link" target="_blank">
                <img class="item-content-box item-block img-lazy" data-at="image" alt="" src="images/facebook.svg">
              </a>
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-239" data-at="paragraph">
            <div class="contents">
              <p class="x_1dc74687"></p>
              <p class="x_4886f134"><span class="x_bb0383e7"><a href="tel:3090188" id="link-vpc004402eq"
                    class="url-link">309-0188 </a></span></p>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-240">
            <div class="contents cropped item-block" data-at="image-cropp">
              <img class="item-content-box item-block img-lazy" data-at="image" alt="phone icon" src="images/tell.png">
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-241" data-at="paragraph">
            <div class="contents">
              <p class="x_4886f134"><span class="x_bb0383e7"><a href="tel:64982991" id="link-gjz24t6ajya"
                    class="url-link">6498-2991</a></span></p>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-242">
            <div class="contents cropped item-block" data-at="image-cropp">
              <img class="item-content-box item-block img-lazy" data-at="image" alt="phone icon" src="images/tell.png">
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-243" data-at="paragraph">
            <div class="contents">
              <p class="x_4886f134"><span class="x_bb0383e7"><a href="https://goo.gl/maps/K2XEUNWCs1n"
                    id="link-8ef08u3i14p" target="_blank" data-tracked-link-8ef08u3i14p class="url-link">Atrium Business
                    Center, Atrium Tower piso 27, calle 54, Obarrio, Panamá</a></span></p>
            </div>
          </div>

          <div class="widget item-absolute  " id="element-244">
            <div class="contents cropped item-block" data-at="image-cropp">
              <img class="item-content-box item-block img-lazy" data-at="image" alt="maps mark"
                src="images/ubication.png">
            </div>
          </div>

          <div class="widget item-absolute paragraph  " id="element-245" data-at="paragraph">
            <div class="contents">
              <p class="x_9317fdfd"><span class="x_7b2817bf"><b>Encuéntranos en</b></span></p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section section-relative " id="page-block-44djds0n15w" data-at="section">

      <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
      <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
      <div class="section-block">
        <div class="section-inner section-fit section-relative">
          <div class="widget item-absolute paragraph  " id="element-246" data-at="paragraph">
            <div class="contents">
              <p class="x_0d0d8539"><b><span class="x_bb0383e7">© Nanny365 2018 |</span></b> Todos los derechos
                reservados</p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>


  <!-- <div id="submit-in-progress-popup" class="lightbox submit-lb item-cover" tabindex="0" role="button"
    style="display:none;">
    <div class="lightbox-dim">
      <div class="notification-text">Processing...</div>
    </div>
  </div>
  <div id="submit-success-popup" class="lightbox submit-lb item-cover" tabindex="0" role="button" style="display:none;">
    <div class="lightbox-dim">
      <div class="notification-text">Thank You!</div>
    </div>
  </div> -->



  <!-- custom FOOTER code-->

  <!-- <script type="text/javascript">
    function getQueryStringValue(key) {
      return unescape(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + escape(key).replace(/[\.\+\*]/g,
        "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    }
    window.instapageFormSubmitSuccess = function (form) {
      var emailValue = window.__page_generator ? $(form).find('input[name="' + 'Correo Electrócnico' + '"]').val() :
        $(form).find('input[name="' + base64_encode('Correo Electrócnico') + '"]').val();
      console.log("Se enviará el email: " + emailValue);
      analytics.alias(emailValue);
      analytics.identify(user_id = emailValue, traits = {
        'email': emailValue,
        'utm_source': getQueryStringValue('utm_source'),
        'utm_medium': getQueryStringValue('utm_medium'),
        'utm_campaign': getQueryStringValue('utm_campaign')
      });
      analytics.track('FormSubmit', {
        'email': emailValue
      });
    }
  </script> -->
  <!-- end custom FOOTER code-->
  <!-- <script src="//g.fastcdn.co/js/utils.96115e0e398cba385e4c.js"></script>
  <script src="//g.fastcdn.co/js/Cradle.0de242fe650ee7637b63.js"></script>
  <script src="//g.fastcdn.co/js/LazyImage.11f65ec56b7eb117e504.js"></script>
  <script src="//g.fastcdn.co/js/Form.96d30e318cfe9c4fad73.js"></script>
  <script async src="https://heatmap.services/static/lib.js"></script> -->

  <!-- Generated at: 2019-05-15T01:44:59.624Z -->
  <!--

-->
</body>

</html>