<!DOCTYPE html>
<html lang="en" ng-app="nannyApp">

<%include partials/head/headSearch%>

<body ng-cloak>

  <% include partials/header/header%>
  <div ng-controller="ctrl-search-nanny">
    <div class="container">
      <div class="row">
        <!-- BUSCADOR  -->
        <!-- d-none d-sm-none d-md-block -->
        <div class=" col-sm-8 col-md-3 border-rigth mt-3 ">
          <h5 class="text-center mt-2">Búsqueda de Nanny</h5>
          <!-- <h4 class="text-center mt-3" style="color: #a92a82;">Buscador</h4> -->
          <!-- seacrh imput -->
          <div class="input-group input-group-sm mb-3 mt-3">
            <!-- <input type="text" class="form-control mt-2" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" placeholder="Búsqueda de nanny" ng-model="search"
              autocomplete="off"> -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="searchInp" placeholder="Búsqueda de nanny"
                aria-label="Recipient's username" aria-describedby="basic-addon2" ng-keyup="enter($event)">
              <div class="input-group-append">
                <button type="button" class=" input-group btn btn-success btn-sm show-profile"
                  ng-click="searchInput()">Buscar</button>
              </div>
              <button type="button" class=" mt-2 input-group btn btn-success btn-sm show-profile"
                ng-click="deletecookie()">Eliminar historial de búsqueda</button>
            </div>
          </div>
          <!-- search experiencia -->
          <div class="form-group mt-2">
            <h6>Experiencia</h6>
            <hr>
            <div class="mt-3" ng-repeat="e in experience">
              <label class="color-check container-check-search dbl" for="{{e.id}}"> {{e.name}}
                <input type="radio" name="experiencia" id="{{e.id}}" value="{{e.name}}" ng-model="e.isChecked"
                  ng-click="experiencias(this.e)" ng-dblclick="dblClick()">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- search edad -->
          <div class="form-group mt-5">
            <h6>Edad de la nanny</h6>
            <hr>
            <div class="container pt-3">
              <input type="text" id="yearsOld" class="slider" />
            </div>
          </div>
          <!-- search grupos de edades  -->
          <div class="form-group mt-5">
            <h6>Grupos de Edad</h6>
            <hr>
            <div class="mt-3" ng-repeat="grup in services">
              <label class="color-check container-check-search dbl" for="{{grup.id}}"> {{grup.name}}
                <input type="checkbox" id="{{grup.id}}" value="{{grup.name}}" ng-model="grup.isChecked"
                  ng-click="getGroupYearsOld(this.grup)" ng-dblclick="loadPages()">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- search servicios especiales  -->
          <div class="form-group">
            <h6 class="mt-4">Servicios Especiales</h6>
            <hr>
            <div class="mt-3" ng-repeat="serv in serviceEspecialTwo">
              <label class="color-check container-check-search dbl" for="{{serv.id}}"> {{serv.name}}
                <input type="checkbox" id="{{serv.id}}" value="{{serv.name}}" ng-model="serv.isChecked"
                  ng-click="getServiceEspeciales(this.serv)" ng-dblclick="loadPages()">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- search tarifa maxima  -->
          <div class="form-group mt-4">
            <h6>Tarifa máxima por hora <span class="badge badge-warning" ng-show="viewTarifa"> de {{tarifa | currency}}
                hasta {{tarifa2 | currency}} </span> </h6>
            <hr>
            <div class="container pt-3">
              <input type="text" id="priceRange" class="slider" />
            </div>
          </div>
          <!-- search zonas  -->
          <div class="form-group mt-3">
            <h6>Zonas donde presta servicio</h6>
            <hr>
            <div class="content hideContent mt-1 " ng-repeat="z in Zonas | limitTo :limit ">
              <label class="color-check container-check-search dbl" for="{{z.id}}" style="font-size: 14px;"> {{z.name}}
                <input type="radio" id="{{z.id}}" value="{{z.name}}" ng-model="z.isChecked" ng-click="getZonas(this.z)"
                  ng-dblclick="loadPages()">
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label class="color-label text-danger" ng-click="limite()" ng-hide="hidelimit"> + Ver más </label>
              <label class="color-label text-danger" ng-click="limitTo()" ng-hide="hidelimitTo"> - Ver menos </label>
            </div>
          </div>
        </div>
        <div class="d-block d-sm-block d-md-none">
          <button type="button" class=" mt-3  btn btn-filter btn-block" onclick="openNav()">Filtrar Niñeras <i
              class="mt-1 fa fa-chevron-right float-right" aria-hidden="true"></i></button>
        </div>
        <!-- END  BUSCADOR  -->
        <div class="col-sm-12 col-md-9">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h5 class="float-left m-3">Encuentra una nanny al instante</h5>
              <button class="btn btn-light active bg-light border-light float-right m-3" type="button">
                <span class="badge badge-warning m-2">{{result}}</span>Resultados
              </button>
            </div>
          </div>
          <!-- NANNYS  -->
          <div ng-repeat="x in resultNanny.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) ">
            <div class="gift row">
              <div class="gift__img col-sm-3 col-12">
                <img class="img-thumbnail" ng-src="/public/images/{{x.imagesP}}"
                  onerror="this.src='/public/images/perfil.png'">
              </div>
              <div class="gift__info col-sm-9 col-12">
                <h2 class="gift__name">{{x.nombre}} <br></h2>
                <div class="gift__details">
                  <div class="row d-flex justify-content-end ">
                    <div class=" col-md-4 co-sm-6">
                      <label for="" style="color: #aa0779;
                        ">{{x.tarifa | currency}}</label>
                      <a class="btn btn-danger btn-block btn-sm mt-2 show-profile"
                        href="/perfil-nanny?nanny={{x.nannyID}}">
                        <i class="fa fa-address-card"></i> Ver perfil</a>
                    </div>
                  </div>
                  <div class="row d-flex align-items-start">
                    <div class="col-12">
                      <p><strong>Miembro desde: </strong>{{x.miembro}}</p>
                      <p><strong>Edad: </strong>{{2019 - x.edad}} años </p>
                      <p><strong>Ciudad: </strong>{{x.provincia}}</p>
                      <p class="ellipsisZonas"><strong>Zonas donde se presta el servicio: </strong>{{x.zona }}</p>
                      <p><strong>Experiencia: </strong>{{x.experiencia}} </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <p class="m-2"><strong>Certificaciones</strong ng-hide="certifify">
                      <i class="fa fa-check-circle m-1 " style=" color: green"></i>
                    </p>
                    <p ng-hide="verify" class="m-2"><strong>Residencia</strong>
                      <i class="fa fa-check-circle m-1 " style=" color: green"></i>
                    </p>
                  </div>
                </div>
                <div class="gift__bottom row " style="padding: 0px;">
                  <div class="col-12">
                    <h5 class=" info-adicional">Sobre mi</h5>
                    <div>
                      <p class="text-justify " style="font-size: 12px">{{x.sobreMi}}<br></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- PAGINACIÓN  -->
          <div class="row">
            <div class="col">
              <div class="row d-flex justify-content-center">
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                  class="pagination-sm m-2 float-left" boundary-link-numbers="true" rotate="false"></ul>
                <label class="m-2"> Resultados por página :</label>
                <select ng-options="option.num for option in numPagesselected.pages track by option.id"
                  ng-model="numPagesselected.selectedOption" ng-change="changePages(this)">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <% include partials/footer/footer%>
  </div>
  <% include partials/script/script%>
</body>

</html>