  <div class="page-block mt-2" id="page-block-2elqxou5ont">
    <div class="color-overlay"></div>
    <div class="border-holder">
      <div class="block-inner">
        <div class="page-element widget-container page-element-type-text widget-text " id="element-224">

          <div class="contents">
            <p style="text-align: left;  ">
              <font color="#444444"><a href="mailto:info@nanny365.app" rel="null" type="url" id="link-c345my3p62e"
                  class="url-link">info@nanny365.app </a></font>
            </p>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-276">


          <div class="contents">
            <img src="images/message.png" style="margin-top: 0px;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-293">


          <div class="contents">
            <img src="images/hard.png" style="margin-top: 0px;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-320">

          <div class="contents">
            <p>
              <font color="#000000"><b>Síguenos en</b></font>
            </p>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-321">

          <div class="contents">
            <p>
              <font color="#000000"><b>Contáctanos en</b></font>
            </p>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-330">


          <div class="contents">
            <a href="https://www.instagram.com/nanny365app/" style="width: 100%; height: 100%;" target="_blank">
              <img src="images/instagram.svg" style="margin-top: 0px;" alt="instagram logo">

            </a>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-331">


          <div class="contents">
            <a href="https://twitter.com/Nanny365App" style="width: 100%; height: 100%;" target="_blank">
              <img src="images/twitter.svg" style="margin-top: 0px;" alt="twitter logo">

            </a>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-332">


          <div class="contents">
            <a href="https://www.facebook.com/Nanny365-287999865142709/" style="width: 100%; height: 100%;"
              target="_blank">
              <img src="images/facebook.svg" style="margin-top: 0px;" alt="">

            </a>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-337">

          <div class="contents">
            <p></p>
            <p style="text-align: left;  ">
              <font color="#444444"><a href="tel:3090188" rel="null" type="url" id="link-vpc004402eq"
                  class="url-link">309-0188 </a></font>
            </p>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-339">


          <div class="contents">
            <img src="images/tell.png" style="margin-top: 0px;" alt="phone icon">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-342">

          <div class="contents">
            <p style="text-align: left;  ">
              <font color="#444444"><a href="tel:64982991" rel="null" type="url" id="link-gjz24t6ajya"
                  class="url-link">6498-2991</a></font>
            </p>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-344">


          <div class="contents">
            <img src="images/tell.png" style="margin-top: 0px;" alt="phone icon">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-349">

          <div class="contents">
            <p style="text-align: left;  ">
              <font color="#444444"><a href="https://goo.gl/maps/K2XEUNWCs1n" rel="null" type="url"
                  id="link-8ef08u3i14p" class="url-link" target="_blank">Atrium Business Center, Atrium Tower piso 27,
                  calle 54, Obarrio, Panamá</a></font>
            </p>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-351">


          <div class="contents">
            <img src="images/ubication.png" style="margin-top: 0px;" alt="maps mark">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-352">

          <div class="contents">
            <p>
              <font color="#000000"><b>Encuéntranos en</b></font>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="page-block" id="page-block-16wx3cehw99q9f6r">
    <div class="color-overlay"></div>
    <div class="border-holder">
      <div class="block-inner">
        <div class="page-element widget-container page-element-type-text widget-text " id="element-47">

          <div class="contents">
            <p style="text-align: center;  "><b>
                <font color="#444444">© Nanny365 2018 |</font>
              </b> Todos los derechos reservados</p>
          </div>
        </div>

      </div>
    </div>
  </div>