<section class="section  section-relative " id="page-block-s398vkf487o" data-at="section">
  <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
  <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
  <div class="section-block">
    <div class="section-inner section-fit section-relative">
      <div class="widget item-absolute paragraph  " id="element-231" data-at="paragraph">
        <div class="contents">
          <p class="x_4886f134"><span class="x_bb0383e7"><a href="mailto:info@nanny365.app" id="link-c345my3p62e"
                class="url-link text-footer">info@nanny365.app </a></span></p>
        </div>
      </div>

      <div class="widget item-absolute  " id="element-232">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img class="item-content-box item-block " data-at="image" alt=""
            src="//v.fastcdn.co/t/17b3467c/961520fe/1554372749-36050091-22x22-landing-panama-04.png">
        </div>
      </div>

      <div class="widget item-absolute mt-5 " id="element-233">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img class="item-content-box item-block " data-at="image" alt="" src="images/hard.png">
        </div>
      </div>

      <div class="widget item-absolute paragraph  " id="element-234" data-at="paragraph">
        <div class="contents">
          <p class="x_9317fdfd"><span class="x_7b2817bf"><b>Síguenos en</b></span></p>
        </div>
      </div>

      <div class="widget item-absolute paragraph  " id="element-235" data-at="paragraph">
        <div class="contents">
          <p class="x_9317fdfd"><span class="x_7b2817bf"><b>Contáctanos en</b></span></p>
        </div>
      </div>

      <div class="widget item-absolute  " id="element-236">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a href="https://www.instagram.com/nanny365app/" class="url-link item-content-box item-block"
            id="link-w7okrqjmyg" data-at="image-link" target="_blank">
            <img class="item-content-box item-block " data-at="image" alt="instagram logo" src="images/instagram.svg">
          </a>
        </div>
      </div>

      <div class="widget item-absolute  " id="element-237">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a href="https://twitter.com/Nanny365App" class="url-link item-content-box item-block" id="link-hmsghmk7lf"
            data-at="image-link" target="_blank">
            <img class="item-content-box item-block " data-at="image" alt="twitter logo" src="images/twitter.svg">
          </a>
        </div>
      </div>

      <div class="widget item-absolute  " id="element-238">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a href="https://www.facebook.com/Nanny365-287999865142709/" class="url-link item-content-box item-block"
            id="link-4zggw8by4wc" data-at="image-link" target="_blank">
            <img class="item-content-box item-block " data-at="image" alt="" src="images/facebook.svg">
          </a>
        </div>
      </div>

      <div class="widget item-absolute paragraph  " id="element-239" data-at="paragraph">
        <div class="contents">
          <p class="x_1dc74687">
            <p class="x_4886f134"><span class="x_bb0383e7"><a href="tel:3090188" id="link-vpc004402eq"
                  class="url-link text-footer">309-0188 </a></span></p>
        </div>
      </div>

      <div class="widget item-absolute  " id="element-240">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img class="item-content-box item-block " data-at="image" alt="phone icon" src="images/tell.png">
        </div>
      </div>

      <div class="widget item-absolute paragraph  " id="element-241" data-at="paragraph">
        <div class="contents">
          <p class="x_4886f134"><span class="x_bb0383e7"><a href="tel:64982991" id="link-gjz24t6ajya"
                class="url-link text-footer">6498-2991</a></span></p>
        </div>
      </div>

      <div class="widget item-absolute  " id="element-242">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img class="item-content-box item-block " data-at="image" alt="phone icon" src="images/tell.png">
        </div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-243" data-at="paragraph">
        <div class="contents">
          <p class="x_4886f134"><span class="x_bb0383e7"><a href="https://goo.gl/maps/K2XEUNWCs1n" id="link-8ef08u3i14p"
                target="_blank" data-tracked-link-8ef08u3i14p class="url-link  text-footer">Atrium Business
                Center, Atrium Tower piso 27, calle 54, Obarrio, Panamá</a></span></p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-244">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img class="item-content-box item-block " data-at="image" alt="maps mark" src="images/ubication.png">
        </div>
      </div>

      <div class="widget item-absolute paragraph  " id="element-245" data-at="paragraph">
        <div class="contents">
          <p class="x_9317fdfd"><span class="x_7b2817bf"><b>Encuéntranos en</b></span></p>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="section section-relative " id="page-block-44djds0n15w" data-at="section">
  <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
  <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
  <div class="section-block">
    <div class="section-inner section-fit section-relative">
      <div class="widget item-absolute paragraph  " id="element-246" data-at="paragraph">
        <div class="contents">
          <p class="x_0d0d8539"><b><span class="x_bb0383e7">© Nanny365 2018 |</span></b> Todos los derechos
            reservados</p>
        </div>
      </div>
    </div>
  </div>
</section>