<!DOCTYPE html>
<html lang="es" ng-app="nannyApp">

<% include ../partials/head/headJoin%>

<body>
  <% include ../partials/header/header%>
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <h3 class=" font-weight-bold text-center mt-3">Términos y Condiciones de Uso y Contratación de Niñeras</h3>
        <p class="text-justify mt-2">El presente Acuerdo de Uso de Plataforma (en adelante Acuerdo) aplica al sitio web
          de Digicare Solutions, S.A., sociedad anónima debidamente inscrita a folio real electrónico 155671363, entrada
          422694/2018 de la Sección Mercantil del Registro Público de Panamá, en adelante Nanny365, cuyo dominio es
          www.nanny365.app, así como a todos sus sitios relacionados o vinculados desde www.nanny365.app por Nanny365
          (en adelante y de forma conjunta, el sitio web, cuya propiedad pertenece a Nanny365). Al utilizar el sitio
          web, muestras tu conformidad con el presente Acuerdo.
          <p>
            A través del presente Acuerdo, Nanny365 pone a disposición de las asistentes en el cuidado de niños (en
            adelante La Niñera o Las Niñeras) el sitio web de Nanny365 (en adelante La Plataforma).
          </p>
        </p>

        <p class="text-justify">
          <p class="font-weight-bold ">
            1. Objeto
          </p>
          Nanny365 es una compañía tecnológica, cuya actividad principal es el desarrollo y gestión de una plataforma
          tecnológica, que mediante una aplicación web (en adelante La Plataforma) actúa como una plataforma
          intermediaria y punto de encuentro entre la niñera y aquellas personas que requieran de los servicios de
          asistencia en el cuidado de niños por hora, a quienes se les denominará El Cliente.
        </p>
        <h6 class="font-weight-bold ">2. Registro en La Plataforma
        </h6>
        <p>La Niñera deberá registrarse en La Plataforma, en cual deberá crear un perfil de cuidador y deberá cumplir
          con los siguientes requisitos para cumplir con criterios de elegibilidad:
          <ol type="a">
            <li>Ser mayor de 18 años de edad.</li>
            <li>Ser residente legal dentro del territorio de la República de Panamá.</li>
            <li>Subir al sitio web un archivo JPG o PDF de su documento de identificación.</li>
            <li>Subir al sitio web foto en formato JPG de alta calidad de foto tipo carnet.</li>
            <li>Referencias profesionales.</li>
          </ol>
        </p>

        <p class="text-justify">
          Nanny365 se reserva el derecho de revisar, cotejar y confirmar toda la información proporcionada por La Niñera
          antes de habilitar el uso de su perfil dentro de La Plataforma, buscando garantizar que se cumplan los más
          altos estándares de seguridad y debida diligencia. Una vez confirmado en forma satisfactoria la información
          contenida en el registro de La Niñera, Nanny365 notificará su aceptación o rechazo a través de La Plataforma.
        </p>
        <h6 class=" font-weight-bold  mt-3">2.1 Perfil de La Niñera</h6>
        <p class="text-justify">
          La Niñera creará su perfil público, con información previamente verificada por Nanny365 antes de su
          habilitación, dentro de su perfil tendrá la información que ella misma provea y mantenga actualizada; su
          experiencia profesional; referencias y su rating o calificación de acuerdo a la evaluación de desempeño que
          realicen sus clientes. El perfil de La Niñera es de entera y exclusiva responsabilidad de la misma, siendo la
          única responsable de actualizar, ampliar y compartir los cambios en su información.

        </p>
        <h6 class=" font-weight-bold  mt-3">3. Obligaciones y Derechos de La Niñera </h6>
        <p class="text-justify">
          Con la habilitación del perfil de la niñera en La Plataforma, ésta reconoce que su perfil de cuidadora es
          público y de su entera responsabilidad y por ello será la única responsable de mantener su información vigente
          y actualizada.
        </p>
        <p class="text-justify">
          La Niñera se reserva el derecho de colocar el valor y precio de sus servicios de cuidado de infantes, niños,
          y/o adolescentes.
        </p>
        <p class="text-justify">
          La Niñera que se obliga a prestar sus servicios de asistencia en el cuidado de niños a una tercera persona,
          que actúa como cliente directo de Nanny365, en calidad de Asistente en Cuidado de Niños, y sus funciones
          específicas serán las siguientes:
          <ol type="a">
            <li>
              Servicios básicos para el cuidado y asistencia de niños, los cuales consistirán en: supervisión; cuidados
              específicos de infantes como cambio de pañales, aseo, alimentación, siesta.
            </li>
            <li>Ayudar con la tarea, organización de actividades escolares, higiene general de los niños, proporcionar
              juegos educativos apropiados para el desarrollo, asistencia con deberes escolares, refuerzo en enseñanza
              de letras, números y colores.</li>
            <li>Ayuda básica en organización de la habitación de los niños, salidas al parque, durante un período
              previamente convenido y determinado entre La Niñera y El Cliente, bajo el</li>
          </ol>
        </p>
        <p class="text-justify">
          uso estricto de La Plataforma, con Nanny365 como intermediario.
        </p>

        <p class="text-justify">
          La Niñera es libre de aceptar o rechazar cualquier propuesta de prestación de los servicios mencionados en la
          cláusula tercera, sin embargo, su aceptación implica su consentimiento de prestar sus servicios profesionales
          en el lugar físico que haya sido acordado en La Plataforma cuando así lo estime conveniente, que en principio
          será en la residencia de El Cliente o lugar asignado por este último.
        </p>

        <p class="text-justify">
          La Niñera acepta que, para gozar de un perfil habilitado en la plataforma, deberá celebrar todas sus
          contrataciones a través de La Plataforma, ya que el incumplimiento de este requerimiento resultará en la
          suspensión indefinida de su perfil dentro del sitio web.
        </p>
        <h6 class="font-weight-bold  mt-3"> 4. Alcance de los Servicios de La plataforma</h6>
        <p class="text-justify">
          Nanny365 es una plataforma que sirve como punto de encuentro entre La Niñera que ofrece sus servicios de
          cuidadora y los padres y/o representantes legales de infantes y niños que requieran servicios exprés de
          cuidado por hora.
        </p>

        <p class="text-justify">
          El Cliente seleccionará a La Niñera mediante la elección del perfil de su preferencia y marcando la opción de
          contactar.
        </p>

        <p class="text-justify">
          La contratación incluyendo: tarifa, tiempo del servicio, gastos, entre otros es responsabilidad exclusiva de
          La Niñera y El Cliente, puesto que Nanny365 sólo funge como plataforma para la puesta en contacto entre las
          partes interesadas, y de esta manera, aunque el servicio se acuerde en la plataforma, no forma parte de su
          responsabilidad así como tampoco la gestión de cobranza.
        </p>
        <p class="text-justify">
          Queda entendido que el presente Acuerdo no crea relación laboral alguna, por lo que no existe subordinación
          laboral, ni horario fijo o exclusividad, entre Nanny365 y La Niñera, por cuanto el objeto del presente Acuerdo
          es que La Niñera brinde el servicio de asistencia en el cuidado de niños por hora a El Cliente, cuando éste
          solicite el servicio a través de La Plataforma o cualquier medio electrónico proporcionado por Nanny365.
        </p>
        <p class="text-justify">
          Queda entendido que, por la profesionalidad del servicio a prestarse, Nanny365 no hará deducciones de ninguna
          naturaleza sobre los honorarios de La Niñera, obligándose ésta a hacer sus declaraciones de renta, así como
          también, los pagos de cualquier impuesto o tasa de acuerdo con la legislación panameña.
        </p>
        <h6 class="font-weight-bold  mt-3">5. Confidencialidad de la información</h6>
        <p class="text-justify">
            Todo material que no sea parte del perfil público de la niñera, entiéndase: contenido, comunicaciones, experticia de ambas partes, que derive de las experiencias de uso de La Plataforma y los servicios contratados a través de la misma, tiene un carácter confidencial, y todos los derechos a la misma que han sido o serán divulgados o puestos en conocimiento, permanecerán como propiedad de cada una de las partes. La Niñera acepta que no obtendrá ningún tipo de derecho, sobre la información que se comparta o transfiera a través de La Plataforma, ni tampoco ningún derecho de utilizarla, excepto para el cumplimiento del objeto y finalidad su relación comercial.

        </p>
        <h6 class="font-weight-bold  mt-3">5.1 Medidas razonables</h6>
        <p class="text-justify">
            La niñera se obliga a tomar todas las medidas razonablemente aplicables para proteger la confidencialidad de toda la información de su relación con los clientes de Nanny365 y de su información, ubicación, datos personales, y deberá evitar la revelación y usos no autorizados de la información confidencial. La Niñera se compromete a tomar como mínimo, aquellas medidas que utilicen para proteger su propia información confidencial y a asegurarse de que cualesquiera personas que tengan acceso a esta información, haya firmado un acuerdo de confidencialidad de contenido similar al presente acuerdo.
        </br>
        La niñera por este medio acuerda y acepta, irrevocablemente, completa responsabilidad por el cumplimiento del presente Acuerdo, y en consecuencia por cualquier divulgación de información confidencial por su parte ya sea en forma voluntaria o por negligencia en el cuidado de la misma.
        </p>
        <h6 class="font-weight-bold  mt-3">6. Anulación del presente Acuerdo</h6>
        <p class="text-justify">
            Es entendido que este Acuerdo se celebra exclusivamente para cubrir los servicios durante la vigencia del registro de La Niñera en La Plataforma. No obstante, el presente Acuerdo podrá ser resuelto, en cualquier momento, por mutuo acuerdo de las partes y por voluntad unilateral de una de las ellas, previa notificación por correo electrónico, indicado en el perfil de la niñera, con 10 días de anticipación, sin derecho a indemnización o pago adicional.

        </p>
        <h6 class="font-weight-bold  mt-3">7. Incumplimiento de Acuerdo de Uso de Plataforma</h6>
        <p class="text-justify">
            En caso de incumplimiento de una de las cláusulas del presente acuerdo, dará derecho a las partes a rescindir el mismo, previa notificación de dicho incumplimiento.
        </p>
        <h6 class="font-weight-bold  mt-3">8. Responsabilidad de Nanny365</h6>
        <p class="text-justify">
            Nanny365, como simple intermediario, no es, ni será parte de cualquier reclamación, demanda, denuncia o proceso que surjan de hechos ocurridos durante la prestación del servicio, entre El Cliente y La Niñera.
        </p>
        <h6 class="font-weight-bold  mt-3">9. Legislación Aplicable</h6>
        <p class="text-justify">
            Cualquier reclamación que surgiera con motivo de la interpretación o ejecución del presente Acuerdo será solucionada por acuerdo mutuo y si no procediera así, será dilucidada a través de los tribunales panameños.
        </p>

      </div>
    </div>
  </div>
  <%include ../partials/footer/footer%>
  <% include ../partials/script/script%>
</body>

</html>