<head>
  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title><%=title%></title>
  <meta name="description"
    content="Nanny 365 es un proyecto nacido en Panamá cuyo objetivo es encontrar babysitter express en tiempo record. Como padre/madre queremos ayudarte a encontrar nanny los 365 días del año">
  <meta name="keywords" content="Nanny, 365, nannies, nana, nanny365, nanny 365, ">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Nanny 365">
  <meta property="og:description"
    content="Nanny 365 es un proyecto nacido en Panamá cuyo objetivo es encontrar babysitter express en tiempo record. Como padre/madre queremos ayudarte a encontrar nanny los 365 días del año">
  <meta property="og:site_name" content="Nanny 365">
  <meta property="og:url" content="http://www.nanny365.app">
  <%include ../fonts/fonts%>
  <!-- end -->
  <link rel="stylesheet" type="text/css" href="assets/css/homePages.css">
  <link rel="stylesheet" type="text/css" href="assets/css/home.css">
</head>
<style>
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: none !important;
  }
</style>